.rotate-icon{
  transform: rotate(-0deg);
}
.layout-header-bar{
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.layout {
  /* border: 1px solid #d7dde4; */
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  width: 100%;
  min-width: 1900px;
}
.ivu-layout-header {
  padding: 0;
}
/* 头部导航logo */
.layout-logo {
  width: 40px;
  height: 30px;
  float: left;
  position: relative;
  left: 15px;
  background: url("../../images/logos.png") no-repeat center center;
}
.title {
  font-family: "微软雅黑";
  line-height: 50px;
  color: #090909;
  font-size: 20px;
  display: block;
  padding-left: 20px;
}
.layout-nav {
  line-height: 49px;
  position: absolute;
  right: 0px;
}
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover {
  color: #fff!important;
  border: none!important;
}
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item,
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu {
  color: white!important;
}
.layout-nav li:hover {
  background: #090909
}
.ivu-menu-item {
  font-size: 16px;
}
.ivu-layout {
  height: 100%;
}
.ivu-menu-horizontal {
  height: 50px;
  display: -webkit-box;
  display: box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  background: url("../../images/header.png");
  position: relative;
}
/* 左侧导航 */
.ivu-icon-drag:before {
  color: #fff;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title {
  color: #fff;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):hover, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu):hover {
  background: #fff;
  color: #b81d23
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu) {
  border-right: 0px;
  border-left: 4px solid #b81d23;
}

.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab-active{
  color: #b4021d;
}
.ivu-tabs-nav-container:focus .ivu-tabs-tab-focused{
  border-color: #b4021d !important;
}
.ivu-tabs-nav .ivu-tabs-tab:hover{
  color: #b4021d;


}
.volumeA{
background: url("../../images/volumeA.png") no-repeat center center;
}
.volumeB{
background: url("../../images/volumeB.png") no-repeat center center;
}
.volumeC{
background: url("../../images/volumeC.png") no-repeat center center;
}
.policyA{
background: url("../../images/policyA.png") no-repeat center center;
}
.renderIcon{
  height: 16px;
  width: 16px;
display: inline-block;
  background-size: contain;
}



.buttonDiv{
  display: flex;
}
.buttonIcon{
  margin-right: 2px;
      width: 14px;
    height: 14px;
    display: flex;
    align-self: center;
}
.ivu-btn-primary{
  background-color: #fd7549;
  border-color: #fd7549;
}
.ivu-btn-primary:hover{
    background-color: #fd7549;
  border-color: #fd7549;
}
.ivu-switch-checked{
   background-color: #e07a56;
  border-color: #e07a56;
}
.ivu-btn-error , .ivu-btn-error:hover{
   background-color: #e07a56;
  border-color: #e07a56;
}
.ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td, .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-hover td, tr.ivu-table-row-hover td{
background-color: #f9eeea ;
}
.buttonA , .buttonA:hover{
background-color: #faaf5a;
border-color: #faaf5a;
}
.buttonB , .buttonB:hover{
background-color: #dd5659;
border-color: #dd5659;
}
.buttonC , .buttonC:hover{
background-color: #d39051;
border-color: #d39051;
}

/* .ivu-layout-sider-children {
  border-right: 1px solid #eee;
  width: 282px;
  background: #4a4949;
} */
/* ul.ivu-menu.ivu-menu-light.ivu-menu-vertical {
  padding-top: 40px;
} */
/* 
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item {
  color: white;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item:hover {
  color: #b81d23;
  border-left: 7px solid #b81d23;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  color: #b81d23;
  border-right: none;
  background: #eeeeee;
  position: relative;
  border-left: 7px solid #b81d23;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item:active {
  border-left: 7px solid #b81d23;
  border-right: none;
} */
/* .ivu-menu-vertical .ivu-menu-item,
.ivu-menu-vertical .ivu-menu-submenu-title {
  padding-left: 46px;
} */
.icon {
  
  /*color:white;*/
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}

.lef-head{
  background: #4a4949;
  height: 52px;
}
/* .layout-logo-left{
  width: 90%;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  margin: 15px auto;
} */
.menu-icon{
  transition: all .3s;
}
.rotate-icon{
  transform: rotate(-90deg);
}
.menu-item span{
  display: inline-block;
  overflow: hidden;
  width: 69px;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
  transition: width .2s ease .2s;
}
.menu-item i{
  transform: translateX(0px);
  transition: font-size .2s ease, transform .2s ease;
  vertical-align: middle;
  font-size: 16px;
}
.collapsed-menu span{
  width: 0px;
  transition: width .2s ease;
}
.collapsed-menu i{
  transform: translateX(5px);
  transition: font-size .2s ease .2s, transform .2s ease .2s;
  vertical-align: middle;
  font-size: 20px;
}