/* :root{
	--max:{
		position:relative;
		top:-15px;
		left:200px;
	}
	--implement:{
		position: relative;
		top:15px;
	}
}
.checkbox{
	@apply --implement;
}
.maxTask{
	@apply --max;
} */

.parent {
	border: 1px solid #ccc;
	   border-bottom:none; 
    border-right:none; 
}
.parent div {
 width: 50%;
 line-height: 30px;
    display: inline-block;
    margin: left;
    padding: 0 5px;
    border-bottom: 1px solid #dddee1; 
    border-right: 1px solid #dddee1; 
}
.titl {
	font-weight: 700;
}
   .parent .line{
      width: 90px;
      height: 30px;
      display: inline-block;
      margin-right: 5px;
      border-right: 1px solid #dddee1; 
	  padding-right: 5px;
	  border-bottom: none;
    }