/* 新建策略 */
.newconten .planoption {
  float: left;
  width: 50%;
}
.newconten .planinfo .ivu-form-item {
  width: 200px;
  display: inline-block;
}

.newconten .plandate .ivu-date-picker-focused {
  width: 170px;
}
.planweek .ivu-date-picker-focused {
  position: fixed;
  z-index: 1;
}
.planlist .ivu-table-wrapper {
  z-index: 0;
}
.newconten  #areaTree{
    border:none; 
}
.newconten .tree-box {
  width: 60%;
  float: left;
  height: 248px;
  overflow: auto;
}
.newconten .tree-conten {
  width: 39%;
  float: right;
  height: 248px;
  overflow: auto;
}
.newconten .planinfo .time .ivu-form-item {
  width: 300px;
}