.popup .ivu-modal-footer {
  border-top: none;
}
/* .popup .ivu-modal-header{
	background-color: #fd7549;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
} */
/* .popup .ivu-modal-close  .ivu-icon-ios-close-empty{
	color: #fff;
} */
/* .popup .ivu-modal-header-inner{
	color: #fff;
} */
.popup {
  height: 400px;
}
.popup span {
  margin-right: 12px;
  font-size: 0.8rem;
}

.popup .ivu-input {
  height: 28px;
  background-color: #e9ecec;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none
}
.popup li {
  line-height: 32px;
  margin-bottom: 16px;
  margin-left: 24px !important;
}
.popup .ivu-modal-footer {
  border-top: none;
}
/* .popup .ivu-modal-header{
	background-color: #fd7549;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
} */
/* .popup .ivu-modal-close  .ivu-icon-ios-close-empty{
	color: #fff;
} */
/* .popup .ivu-modal-header-inner{
	color: #fff;
} */
/* .popup .ivu-btn-primary{
  background-color: #fd7549;
  border-color:#fd7549; 
} */
.popup .ivu-btn-large span{
  margin: 0;
}